body { background: #a38283; margin: 0; font-family: sans-serif; }
.analytics-view { padding: 38px; display: flex; }
.block-auth-0 { color: #7695ed; font-size: 18px; margin-bottom: 5px; }
.block-validator-1 { color: #be3108; font-size: 19px; margin-bottom: 5px; }
.block-notify-2 { color: #b5092c; font-size: 20px; margin-bottom: 5px; }
.block-router-3 { color: #5b97e6; font-size: 14px; margin-bottom: 5px; }
.block-invoice-4 { color: #aa1c4c; font-size: 16px; margin-bottom: 5px; }
.block-payment-5 { color: #31ef0a; font-size: 13px; margin-bottom: 5px; }
.block-product-6 { color: #34ae1e; font-size: 15px; margin-bottom: 5px; }
.block-cart-7 { color: #2464e8; font-size: 14px; margin-bottom: 5px; }
.block-search-8 { color: #b07762; font-size: 12px; margin-bottom: 5px; }